@model HC_Odontologicas.Models.PlantillaConsentimientoInformado

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Plantilla Consentimiento Informado</h4>
<hr />
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Codigo" />
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="Nombre" class="control-label">Nombre *</label>
                        <input asp-for="Nombre" class="form-control" required maxlength="128" />
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label asp-for="Descripcion" class="control-label"></label>
                        <textarea asp-for="Descripcion" class="form-control" required>Descripción *</textarea>
                        <span asp-validation-for="Descripcion" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <a class="btn btn-white colorBordeBotonAccion" onclick="regresar('../PlantillaConsentimientosInformados/Index','');">Regresar</a>
                        <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Guardar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
        window.onload = function () {
            if ("@ViewBag.Message" === "Save") {
                SuccessAlert("Guardados","/../PlantillaConsentimientosInformados");
            }
            else {
                ErrorAlert("@ViewBag.Message");
            }
        };
    </script>
}


