@model HC_Odontologicas.Models.Paciente

@{
	ViewData["Title"] = "Edit";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Paciente</h4>
<hr />
<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<form asp-action="Edit">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="Codigo" />
			<fieldset>
				<legend class="titulo text-uppercase" style="font-size:inherit">Datos Personales</legend>
				<div class="row">
					<div class="col-lg-6 col-sm-6 col-xs-12">
						<div class="form-group">
							<label asp-for="Nombres" class="control-label">Nombres *</label>
							<input asp-for="Nombres" class="form-control" required maxlength="64" />
							<span asp-validation-for="Nombres" class="text-danger"></span>
						</div>
					</div>
					<div class="col-lg-6 col-sm-6 col-xs-12">
						<div class="form-group">
							<label asp-for="Apellidos" class="control-label">Apellidos *</label>
							<input asp-for="Apellidos" class="form-control" required maxlength="64" />
							<span asp-validation-for="Apellidos" class="text-danger"></span>
						</div>
					</div>

					<div class="col-lg-6 col-sm-6 col-xs-12">
						<div class="form-group">
							<label asp-for="CodigoTipoIdentificacion" class="control-label">Tipo de identificación *</label>
							<select asp-for="CodigoTipoIdentificacion" class="form-control" asp-items="ViewBag.CodigoTipoIdentificacion" required onchange="validarLaIdentificacion(this.value);"></select>
							<span asp-validation-for="CodigoTipoIdentificacion" class="text-danger"></span>
						</div>
					</div>
					<div class="col-lg-6 col-sm-6 col-xs-12">
						<div class="form-group">
							<label asp-for="Identificacion" class="control-label"></label>
							<input asp-for="Identificacion" class="form-control" required maxlength="13" id="Identificacion" />
							<span asp-validation-for="Identificacion" class="text-danger"></span>
							<span class="text-danger" id="IdentificacionSpan"></span>

						</div>
					</div>
					<div class="col-lg-6 col-sm-6 col-xs-12" id="data_1">
						<label class="font-normal">Fecha nacimiento *</label>
						<div class="input-group date">
							<span class="input-group-addon"></span>
							<input type="text" class="form-control" id="FechaNacimiento" required asp-for="FechaNacimiento" onchange="validarFecha();">
						</div>
						<div>
							<span asp-validation-for="FechaNacimiento" class="text-danger" id="FechaNacimientoS"></span>
						</div>
					</div>
					<div class="col-lg-6 col-sm-6 col-xs-12">
						<div class="form-group">
							<label asp-for="Genero" class="control-label">Genero *</label>
							<select asp-for="Genero" class="form-control">
								<option value="0">Seleccione...</option>
								<option value="M">Masculino</option>
								<option value="F">Femenino</option>
							</select>
							<span asp-validation-for="Genero" class="text-danger"></span>
						</div>
					</div>
					<div class="col-lg-6 col-sm-6 col-xs-12">
						<div class="form-group">
							<label asp-for="EstadoCivil" class="control-label">Estado Civil*</label>
							<select asp-for="EstadoCivil" class="form-control">
								<option value="0">Seleccione...</option>
								<option value="Soltero">Soltero</option>
								<option value="Casado">Casado</option>
								<option value="Divorciado">Divorciado</option>
								<option value="Viudo">Viudo</option>
								<option value="UnionLibre">Union Libre</option>
							</select>
							<span asp-validation-for="EstadoCivil" class="text-danger"></span>
						</div>
					</div>
				</div>
			</fieldset>
			<fieldset>
				<legend class="titulo text-uppercase" style="font-size:inherit">Contacto</legend>
				<div class="row">
					<div class="col-lg-6 col-sm-6 col-xs-12">
						<div class="form-group">
							<label asp-for="Telefono" class="control-label">Teléfono</label>
							<input asp-for="Telefono" class="form-control" maxlength="32" />
							<span asp-validation-for="Telefono" class="text-danger"></span>
						</div>
					</div>
					<div class="col-lg-6 col-sm-6 col-xs-12">
						<div class="form-group">
							<label asp-for="Celular" class="control-label">Celular</label>
							<input asp-for="Celular" class="form-control" maxlength="32" />
							<span asp-validation-for="Celular" class="text-danger"></span>
						</div>
					</div>
					<div class="col-lg-6 col-sm-6 col-xs-12">
						<div class="form-group">
							<label asp-for="MailPersonal" class="control-label">Correo Electrónico Personal</label>
							<input asp-for="MailPersonal" class="form-control" email maxlength="64" />
							<span asp-validation-for="MailPersonal" class="text-danger"></span>
						</div>
					</div>
					<div class="col-lg-6 col-sm-6 col-xs-12">
						<div class="form-group">
							<label asp-for="MailEpn" class="control-label">Correo Electrónico EPN*</label>
							<input asp-for="MailEpn" class="form-control" required maxlength="64" email />
							<span asp-validation-for="MailEpn" class="text-danger"></span>
						</div>
					</div>
					<div class="col-lg-6 col-sm-6 col-xs-12">
						<div class="form-group">
							<label asp-for="Direccion" class="control-label">Dirección*</label>
							<input asp-for="Direccion" class="form-control" required maxlength="128" />
							<span asp-validation-for="Direccion" class="text-danger"></span>
						</div>
					</div>

				</div>
			</fieldset>
			<fieldset>
				<legend class="titulo text-uppercase" style="font-size:inherit">Tipo de Paciente</legend>
				<div class="row">
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
						<div class="form-group">
							<label asp-for="TipoPaciente" class="control-label">Tipo paciente*</label>
							<select asp-for="TipoPaciente" id="tipoPaciente" class="form-control" onchange="mostrarCamposSegunSeleccionado(this);">
								<option value="0">Seleccione...</option>
								<option value="E">Estudiante</option>
								<option value="EB">Estudiante Becas</option>
								<option value="EC">Estudiante Conadis</option>
								<option value="EN">Estudiante Nivelacion</option>
								<option value="D">Docente</option>
								<option value="PA">Personal Administrativo</option>
							</select>
							<span asp-validation-for="TipoPaciente" class="text-danger"></span>
						</div>
					</div>
				</div>
			</fieldset>
			<fieldset id="datosEstudiantiles" style="display:none">
				<legend class="titulo text-uppercase" style="font-size:inherit">Datos Estudiantiles</legend>
				<div class="row">
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
						<div class="form-group">
							<label asp-for="NumeroUnico" class="control-label">Numero único*</label>
							<input asp-for="NumeroUnico" class="form-control" maxlength="9" required onkeypress=" return soloNumerosEnteros(event);" />
							<span asp-validation-for="NumeroUnico" class="text-danger"></span>
						</div>
					</div>

					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
						<div class="form-group">
							<label asp-for="CodigoFacultad" class="control-label">Facultad *</label>
							<select asp-for="CodigoFacultad" class="form-control" asp-items="ViewBag.CodigoFacultad" onchange="cargarDatosCarrera(this);"></select>
							<span asp-validation-for="CodigoFacultad" class="text-danger"></span>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
						<div class="form-group">
							<label asp-for="CodigoCarrera" class="control-label">Carrera *</label>
							<select asp-for="CodigoCarrera" class="form-control" asp-items="ViewBag.CodigoCarrera"></select>
							<span asp-validation-for="CodigoCarrera" class="text-danger"></span>
						</div>
					</div>
				</div>
			</fieldset>
			<fieldset id="datosLaborales" style="display:none">
				<legend class="titulo text-uppercase" style="font-size:inherit">Datos laborales</legend>
				<div class="row">
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
						<div class="form-group">
							<label asp-for="DependenciaDondeTrabaja" class="control-label">Dependencia Donde Trabaja</label>
							<input asp-for="DependenciaDondeTrabaja" class="form-control" maxlength="64" />
							<span asp-validation-for="DependenciaDondeTrabaja" class="text-danger"></span>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
						<div class="form-group">
							<label asp-for="Cargo" class="control-label">Cargo *</label>
							<input asp-for="Cargo" class="form-control" maxlength="64" required />
							<span asp-validation-for="Cargo" class="text-danger"></span>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
						<div class="form-group">
							<label asp-for="Procedencia" class="control-label">Procedencia</label>
							<input asp-for="Procedencia" class="form-control" maxlength="64" />
							<span asp-validation-for="Procedencia" class="text-danger"></span>
						</div>
					</div>
				</div>
			</fieldset>
			<br />
			<div class="row">
				<div class="col-lg-12">
					<div>
						<b> Activo </b>
						<label>
							<input type="checkbox" asp-for="Estado" class="i-checks" checked />
						</label>
					</div>
				</div>
			</div>
			<br />

			<div class="row">
				<div class="col-lg-12">
					<div class="form-group">
						<a class="btn btn-white colorBordeBotonAccion" onclick="regresar('../Pacientes/Index','');">Regresar</a>
						<button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Guardar</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>



<script type="text/javascript">
	$(document).ready(function () {
		$('.i-checks').iCheck({
			checkboxClass: 'icheckbox_square-blue',
			radioClass: 'iradio_square-blue',
		});

		$('#data_1 .input-group.date').datepicker({
			language: 'es',
			locale: "es",
			todayBtn: "linked",
			keyboardNavigation: false,
			forceParse: false,
			autoclose: true,
			closeText: 'Cerrar',
			maxDateNow: true,
		});

	});
</script>

<script>
	window.onload = mostrarCamposSegunSeleccionado();
</script>


@if (ViewBag.Message != null)
{
	<script type="text/javascript">
        window.onload = function () {
            if ("@ViewBag.Message" === "Save") {
                SuccessAlert("Guardados","/../Pacientes");
            }
            else {
                ErrorAlert("@ViewBag.Message");
            }
        };
	</script>
}

@section Scripts {
		@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
	}
