<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - HC_Odontologicas</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
	<link rel="stylesheet" href="~/css/site.css" />
	<link rel="stylesheet" href="~/css/styleFormDesplegable.css" />
	<link rel="stylesheet" href="~/css/styleListaEnfOdon.css" />
	<script type="text/javascript" src="@Url.Content("~/js/funcionesJS.js")"></script>
	<script src="~/lib/alertas.js"></script>

	<script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
	@*<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.css" />
		<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.js"></script>*@

	<link rel="stylesheet" href="~/lib/dataTables/datatables.min.css" />
	<script type="text/javascript" src="~/lib/dataTables/datatables.min.js"></script>


	<link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
	<link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
	<link rel="stylesheet" href="~/lib/iCheck/blue.css" />
	<script src="~/lib/iCheck/icheck.min.js"></script>


	<script src="~/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
	<script src="~/lib/bootstrap-datepicker/js/locales/bootstrap-datepicker.es.js"></script>
	<link rel="stylesheet" href="~/lib/bootstrap-datepicker/dist/css/datepicker3.css" />

	<link rel="stylesheet" href="~/lib/select2/dist/css/select2.min.css" />
	<link rel="stylesheet" href="~/lib/select2/dist/css/select2-bootstrap4.min.css" />
	<script src="~/lib/select2/dist/js/select2.full.min.js"></script>
	
	<link rel="stylesheet" href="~/lib/steps/jquery.steps.css" />

</head>
<body>
	@*con esto carga el menu en la parte superior dinamicamente*@
	@*<header class="my-header">
			<nav class="navbar bg-header navbar-fixed-top">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<i class="fas fa-bars" style="color:white;"></i>
						</button>

					</div>
					<div class="navbar-collapse collapse">
						<partial name="_Menu.cshtml" />
						<partial name="_LoginPartial" />
					</div>
				</div>
			</nav>
		</header>*@
	@*fin de cargar el menu dinamico*@

	<header>
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
			<div class="container">
				@*<a class="navbar-brand" asp-area="" asp-controller="home" asp-action="index" name="titulo" id="titulo">Home</a>*@
				<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
					<partial name="_LoginPartial" />
					<partial name="_Menu.cshtml" />
				</div>
			</div>
		</nav>
	</header>
	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>
	<footer class="border-top footer text-muted">
		<div class="container">
			&copy; 2019 - HC_Odontologicas - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script type="text/javascript" src="~/js/funcionesJS.js"></script>
	<script src="~/lib/alertas.js"></script>
	<script src="~/lib/sweetalert.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.js"></script>


	<link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
	<link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />

	<link rel="stylesheet" href="~/lib/iCheck/blue.css" />
	<script src="~/lib/iCheck/icheck.min.js"></script>

	<script src="~/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
	<script src="~/lib/bootstrap-datepicker/js/locales/bootstrap-datepicker.es.js"></script>
	<link rel="stylesheet" href="~/lib/bootstrap-datepicker/dist/css/datepicker3.css" />

	<link rel="stylesheet" href="~/lib/select2/dist/css/select2.min.css" />
	<link rel="stylesheet" href="~/lib/select2/dist/css/select2-bootstrap4.min.css" />
	<script src="~/lib/select2/dist/js/select2.full.min.js"></script>

	<link rel="stylesheet" href="~/lib/steps/jquery.steps.css" />

	<link rel="stylesheet" href="~/css/styleFormDesplegable.css" />

	@RenderSection("Scripts", required: false)
</body>
</html>
