@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@inject SignInManager<HC_Odontologicas.Models.UsuarioLogin> SignInManager
@inject UserManager<HC_Odontologicas.Models.UsuarioLogin> UserManager

@if (SignInManager.IsSignedIn(User))
{
	var i = (ClaimsIdentity)User.Identity;
	var name = i.Claims.Where(c => c.Type == "NombreCompleto").Select(c => c.Value).SingleOrDefault();
	<form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
		<div>
			<ul id="login" class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Bienvenido: @name</a>
				</li>
				<li class="nav-item">
					<button type="button" onclick="regresar('','salir');" class="btn btn-link navbar-btn navbar-link a-header"><i class="fa fa-power-off"></i> Salir</button>

					@*<form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
					<button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
				</form>*@
				</li>
			</ul>
		</div>
	</form>
}