@model HC_Odontologicas.Models.CitaOdontologica

@{
	ViewData["Title"] = "Create";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
	html, body {
		margin: 0px;
		padding: 0px;
	}
</style>

<div id="scheduler_here" class="dhx_cal_container" style='width:100%; height:100vh;'>
	<div class="dhx_cal_navline">
		<div class="dhx_cal_prev_button">&nbsp;</div>
		<div class="dhx_cal_next_button">&nbsp;</div>
		<div class="dhx_cal_today_button"></div>
		<div class="dhx_cal_date"></div>
		<div class="dhx_cal_tab" name="day_tab"></div>
		<div class="dhx_cal_tab" name="week_tab"></div>
		<div class="dhx_cal_tab" name="month_tab"></div>
	</div>
	<div class="dhx_cal_header"></div>
	<div class="dhx_cal_data"></div>
</div>



@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


	<script src="~/lib/dhtmlx/codebase/dhtmlxscheduler.js"></script>
	<link rel="stylesheet" type="text/css" charset="utf-8" href="~/lib/dhtmlx/codebase/dhtmlxscheduler_material.css" />
	<script src="~/lib/dhtmlx/codebase/locale/locale_es.js" charset="utf-8"></script>
	<script src="~/lib/dhtmlx/codebase/ext/dhtmlxscheduler_minical.js" type="text/javascript"></script>
	


	<script>
		scheduler.config.multi_day = true;
		scheduler.config.event_duration = 30;
		scheduler.config.auto_end_date = true;
		scheduler.config.details_on_create = true;
		scheduler.config.details_on_dblclick = true;
		scheduler.config.first_hour = 8;
		scheduler.config.last_hour = 18;
		scheduler.config.hour_size_px = 88;
		scheduler.config.minicalendar.mark_events = false
		scheduler.config.icons_select = [
			"icon_details",
			"icon_delete"
		];

		var paciente_opts = cargarPacientes();
		var doctor_opts = cargarDoctores();

		scheduler.config.lightbox.sections = [
			{ name: "Paciente", height: 40, map_to: "paciente", type: "select", options: paciente_opts, filtering: true },
			{ name: "Doctor", height: 40, map_to: "doctor", type: "select", options: doctor_opts },
			{ name: "Observación", height: 50, map_to: "observaciones", type: "textarea" },
			{ name: "Tiempo", height: 102, type: "calendar_time", map_to: "auto" }
			//{ name: "Tiempo", height: 72, type: "time", map_to: "auto" },
			//{ name: "Paciente", height: 40, map_to: "paciente", type: "select", options: paciente_opts },

		];

		scheduler.config.xml_date = "%Y-%m-%d %H:%i";
		//para la etiqueta del evento despues de guardar.
		scheduler.attachEvent("onEventSave", function (id, ev, is_new) {

			var estado = true;
			if (ev.paciente != '') {
				if (ev.paciente === '0') {
					dhtmlx.alert("Seleccione un paciente");
					estado = false;
				}
				else {
					ev.text = "P";
					//console.log(ev.paciente);
					var arr = ev.paciente.split(',');
					for (var i = 0; i < arr.length; i++) {
						ev.text += (ev.text.length) ? (": " + getLabelPaciente(arr[i])) : (getLabelPaciente(arr[i]));
					}
				}

			}

			if (ev.doctor != '') {
				ev.text += "<br>D";
				var arr = ev.doctor.split(',');
				for (var i = 0; i < arr.length; i++) {
					ev.text += (ev.text.length) ? (": " + getLabelDoctor(arr[i])) : (getLabelDoctor(arr[i]));
				}
			}

			ev.color = obtenerColor(ev.doctor);

			return estado;
		})

		function getLabelPaciente(key) {
			for (var i = 0; i < paciente_opts.length; i++) {
				if (key == paciente_opts[i].key) {
					var nombre = paciente_opts[i].label.split(" ");
					//console.log(nombre);
					return nombre[0] + " " + nombre[2];
				}
			}
		}
		function getLabelDoctor(key) {
			for (var i = 0; i < doctor_opts.length; i++) {
				if (key == doctor_opts[i].key)
					return doctor_opts[i].label;
			}
		}
		function obtenerColor(key) {
			//llenar arreglo de colores.
			var colores = [
				{ key: 0, label: '#338A28' },
				{ key: 1, label: '#BC61DA' },
				{ key: 2, label: '#F3C13C' },
				{ key: 3, label: '#98948B' },
				{ key: 4, label: '#3AE7AB' }
			]

			var coloresDoctor = [];
			for (var i = 0; i < doctor_opts.length; i++) {
				coloresDoctor.push({ key: doctor_opts[i].key, label: colores[i].label });
			}

			for (var i = 0; i < doctor_opts.length; i++) {
				if (key == coloresDoctor[i].key)
					return coloresDoctor[i].label;
			}
		}
		//para mapear los datos antes de mostrar

		scheduler.attachEvent("onEventLoading", function (ev) {

			if (ev.paciente != '') {
				ev.text = "P";
				//console.log(ev.paciente);
				var arr = ev.paciente.split(',');
				for (var i = 0; i < arr.length; i++) {
					ev.text += (ev.text.length) ? (": " + getLabelPaciente(arr[i])) : (getLabelPaciente(arr[i]));
				}
			}

			if (ev.doctor != '') {
				ev.text += "<br>D";
				var arr = ev.doctor.split(',');
				for (var i = 0; i < arr.length; i++) {
					ev.text += (ev.text.length) ? (": " + getLabelDoctor(arr[i])) : (getLabelDoctor(arr[i]));
				}
			}

			ev.color = obtenerColor(ev.doctor);
			return true;
		});


		//iniciar el calendario en la fecha de hoy.
		var d = new Date();
		scheduler.init('scheduler_here', new Date(d.getFullYear(), d.getMonth(), d.getDate()), "week");
		scheduler.load("/api/events", "json");
		// connect backend to scheduler
		var dp = new dataProcessor("/api/events");
		dp.init(scheduler);
		// set data exchange mode
		dp.setTransactionMode("REST");


	</script>

}
