@model IEnumerable<HC_Odontologicas.Models.PlantillaCertificadoMedico>
@using HC_Odontologicas.FuncionesGenerales;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Plantillas Certificados Médicos</h4>

@if ((bool)ViewData["Crear"])
{
    <a asp-action="Create" class="btn btn-success"><i class="fa fa-plus"></i> Nuevo</a>
}
<br />
<br />
@* Buscar *@
<form class="form-inline" asp-action="Index" method="get">
    <input class="form-control mr-sm-2" type="search" name="search" placeholder="Buscar..." value="@ViewData["Filter"]">
    <button class="btn btn-sm btn-primary" type="submit">Buscar</button>
    <a asp-action="Index" class="btn btn-sm btn-danger" title="Limpiar filtro">Limpiar</a>
</form>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
               Nombre
            </th>           
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
               
                <td>
                    <a asp-action="Edit" asp-route-Codigo="@Encriptacion.Encrypt(item.Codigo.ToString())" class="btn btn-white colorBordeBotonAccion" data-toggle="tooltip" title="Editar"><i class="fa fa-edit"></i> Editar</a>
                    <a onclick="eliminar('@item.Codigo','../PlantillasCertificadosMedicos/DeleteConfirmed','/../PlantillasCertificadosMedicos')" class="btn btn-white colorBordeBotonAccion" data-toggle="tooltip" title="Eliminar"><i class="fa fa-trash"></i> Eliminar</a>

                </td>
            </tr>
        }
    </tbody>
</table>
