@page
@model ForgotPasswordConfirmation
@using Microsoft.AspNetCore.Identity

@inject SignInManager<HC_Odontologicas.Models.UsuarioLogin> SignInManager
@inject UserManager<HC_Odontologicas.Models.UsuarioLogin> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <script type="text/javascript">
        $("#menu").hide();      
    </script>
}

@{
    ViewData["Title"] = "Confirmación";
}

<<div class="page-wrap">
    <div class="login responsive">
        <div class="panel" style="box-shadow: 3px 5px 20px 0 rgba(0,0,0,0.3);">
            <div class="panel-heading text-center">
                <h2>@ViewData["Title"]</h2>
            </div>
            <div class="panel-body text-center">
                Las credenciales han sido enviadas a su correo electrónico.

                <a href="/Identity/Account/Login">Regresar a la página de inicio</a>
            </div>
        </div>
    </div>
</div>

