@page
@model ForgotPasswordModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<HC_Odontologicas.Models.UsuarioLogin> SignInManager
@inject UserManager<HC_Odontologicas.Models.UsuarioLogin> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <script type="text/javascript">
        $("#menu").hide();
        $("#login").hide();
    </script>
}
@{
    ViewData["Title"] = "Recuperar contraseña";
}

<div class="page-wrap">
    <div class="login responsive">
        <div class="panel" style="box-shadow: 3px 5px 20px 0 rgba(0,0,0,0.3);">
            <form method="post">
                <div class="panel-heading text-center">
                    <h2>@ViewData["Title"]</h2>
                    <h4>Ingrese su correo electrónico</h4>
                </div>
                <br />
                <br />
                <div class="panel-body">

                    <div class="form-group">
                        <label asp-for="Input.Email">Correo electrónico*</label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                </div>
                <div class="panel-footer text-center">
                    <a class="btn btn-default colorBordeBotonAccion" href="/Identity/Account/Login"><i class="fa fa-caret-square-left"></i> Regresar</a>
                    <button type="submit" class="btn btn-primary"><i class="fa fa-envelope"></i> Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
